<div class="container" style="padding:25px">
    <div class="row d-flex flex-fill">
        <div class="col-md-2 d-flex justify-content-center flex-fill" style="background-color: #0d6efd; color: white;">Nome</div>
        <div class="col-md-2 d-flex justify-content-center flex-fill" style="background-color: #0d6efd; color: white;">Telefone</div>
        <div class="col-md-2 d-flex justify-content-center flex-fill" style="background-color: #0d6efd; color: white;">Origem</div>
        <div class="col-md-2 d-flex justify-content-center flex-fill" style="background-color: #0d6efd; color: white;">Data de Contato</div>
        <div class="col-md-2 d-flex justify-content-center flex-fill" style="background-color: #0d6efd; color: white;">Observação</div>
    </div>
</div>